:root {
    //brand
    --ditto_blue: #0077c8;
    --ditto_yellow: #ffd100;
    --solo_blue: #41b6e6;
    --quaternary_colour: #ffffff;
    --ultra_green: #84bd00;
    --pro_orange: #e35205;
    --pharma_blue: #99c9e9;
    --ditto_grey: #262626;
    --ditto_silver: #edfcff;

    //utility
    --error_colour: #e14848;
}
