@import 'settings/_00-feature-detection.scss';
@import 'settings/_00-queries.scss';
@import 'settings/_01-dimensions.scss';
@import 'settings/_02-colours.scss';
@import 'settings/_04-mixins.scss';
@import 'settings/_05-typography.scss';

*,
*:after,
*:before {
    box-sizing: border-box;
}

:root {
    font-size: $fontSize;
    line-height: $lineHeight;
    @include base-typography;
}

html {
    @include iosgo {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

body {
    background: black;
    max-width: 100%;
    height: 100% !important;
    margin: 0 auto;
    color: var(--aerogen_grey);
    position: relative;

    @include mobile {
        overflow-x: hidden;
    }
}

.site-content {
    position: relative;
    background: var(--solo_blue);
}

.side_menu_open {
    left: calc(-1 * var(--menu_shift));
    border-right: 1px solid #282626;
}

a {
    transition: all 0.3s ease;
    text-decoration: none;
    color: inherit;
    outline: 0 !important;

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 0;
    position: relative;
    background-color: var(--quaternary_colour);
    overflow: hidden;
}

.section__inner {
    display: grid;
    margin-left: columnWidths(2);
    margin-right: columnWidths(2);
    z-index: 2;
    position: relative;

    @include mobile {
        margin-left: columnWidths(1);
        margin-right: columnWidths(1);
    }

    .wrapper {
        @include sectionPad();
    }
}

.scroll_lock {
    overflow: hidden;
}

.page {
    background-color: white;
}
